Package: stemblock-external-resources
Version: 0.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Anamika <anamika@stemblock.in>
Description: Provides external resources to StemBlock.
Installed-Size: 0
